<% include ../../templates/header.ejs %>
    <div class="container-fluid">
        <form class="" action="details/" method="post">
            <input class="form-control form-control-lg" name="name" type="text" placeholder="Digite o nome do usuário:">
            <input type="submit" value="Buscar" >
        </form>

        <ul class="list-group">
            <% users.forEach(function(user){ %>
                <li class="list-group-item">
                    <span class="name">
    					<span class="info">
    						Name:
    					</span>
                        <%= user.name %>
                    </span>
                    <a class="link-edit" href="/edit/<%= user._id %>">
                        <i class="fa fa-edit"></i> Edit
                    </a>
                    <a class="link-delete" href="/user/<%= user._id %>/delete" onclick="return confirm('Tem certeza que deseja excluir? / Are you sure you want to delete?');">
                    <i class="fa fa-close"></i> Delete
			</a>
                </li>
                <% }) %>
        </ul>
    </div>
<% include ../../templates/footer.ejs %>
