<% include ../../templates/header.ejs %>
    <div class="container-fluid">

        <!-- Tabs -->
        <ul class="nav nav-tabs">
            <li class="nav-tabs__item">
                <a id="1" href="#">Procure usuário</a>
            </li>
            <li class="nav-tabs__item">
                <a id="2" href="#">Listar todos usuários</a>
            </li>
        </ul>

        <!-- Accordions -->
        <div class="tabContent" id="tabContent1">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <form class="card card-sm" action="user/details/" method="post">
                        <input class="form-control form-control-lg form-control-borderless" name="name" type="text" placeholder="Digite o nome do usuário:">
                        <input class="btn btn-lg btn-success" type="submit" value="Buscar">
                    </form>
                </div>
            </div>
        </div>
        <div class="tabContent" id="tabContent2">
            <ul class="list-group">
                <% users.forEach(function(user){ %>
                    <li class="list-group-item">
                        <span class="name">
        					<span class="info">
        						Name:
        					</span>
                        <%= user.name %>
                            </span>
                            <a class="link-edit" href="/edit/<%= user._id %>">
                            <i class="fa fa-edit"></i> Edit
                        </a>
                            <a class="link-delete" href="/user/<%= user._id %>/delete" onclick="return confirm('Tem certeza que deseja excluir? / Are you sure you want to delete?');">
                        <i class="fa fa-close"></i> Delete
    			</a>
                    </li>
                    <% }) %>
            </ul>
        </div>

        <% include ../../templates/footer.ejs %>
